* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
  margin: 0;
}

h1 {
  border-bottom: 1px solid #dbdbdb;
  padding: 20px 0 12px 30px;
  margin: 0;
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  background: #fff none;
  border: 1px solid #ccc;
}

.server_info {
  width: 485px;
  margin: 20px 0 10px 30px;

  .line {
    margin-bottom: 10px;

    label {
      line-height: 32px;
      float: left;

      span {
        width: 85px;
        float: left;
      }

      input {
        float: left;
        display: block;
        width: 400px;
        height: 34px;
        padding: 6px 10px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
        opacity: 1;
        background: #fff none;
      }
    }

    &.password {

      label {

        input {
          width: 350px;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

      }

      .btn {
        float: left;
        width: 51px;
        height: 34px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -1px;
      }
    }
  }

  .running {
    display: flex;

    span {
      line-height: 34px;
    }

    #status {
      width: 50px;
      padding-left: 4px;
    }


    .btn {
      width: 65px;
      height: 34px;
      float: right;
      color: #fff;

      &:disabled {
        background-color: lightgray !important;
        border-color: gray !important;
      }
    }

    #start {
      margin-left: auto;
      background-color: #5cb85c;
      border-color: #4cae4c;
    }

    #stop {
      background-color: #f0ad4e;
      border-color: #eea236;
      margin-left: 5px;
    }
  }
}

#qrcode_info {
  width: 250px;
  height: 250px;
  margin: 20px 0 0 30px;
}

@media screen and (max-width: 600px), screen and (-webkit-min-device-pixel-ratio: 2) {
  .content {
    margin-top: 30%;
  }

  .server_info {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;

    .line {
      margin-bottom: 10px;

      label input {
        width: 215px;
      }

      &.password label input {
        width: 165px;
      }
    }
  }

  #qrcode_info {
    position: relative;
    left: 50%;
    margin: 30px 0 30px -125px;
  }
}
