h1 {
  text-align: center;
}

.server_info {
  width: 1024px;
  margin: 50px auto;

  .line label {
    width: 400px;
    line-height: 32px;
    display: block;
    clear: both;

      input {
        float: right;
      }
  }
}