* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
  margin: 0;
}
h1 {
  border-bottom: 1px solid #dbdbdb;
  padding: 0 0 12px 30px;
  margin: 0;
}
h1 a:visited {
  color: inherit;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  background: #fff none;
  border: 1px solid #ccc;
}
.server_info {
  width: 485px;
  margin: 20px 0 10px 30px;
}
.server_info .line {
  margin-bottom: 10px;
}
.server_info .line label {
  line-height: 32px;
  float: left;
}
.server_info .line label span {
  width: 85px;
  float: left;
}
.server_info .line label input {
  float: left;
  display: block;
  width: 400px;
  height: 34px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 1;
  background: #fff none;
}
.server_info .line.password label input {
  width: 350px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.server_info .line.password .btn {
  float: left;
  width: 51px;
  height: 34px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;
}
.server_info .running {
  display: flex;
}
.server_info .running span {
  line-height: 34px;
}
.server_info .running #status {
  width: 50px;
  padding-left: 4px;
}
.server_info .running .btn {
  width: 65px;
  height: 34px;
  float: right;
  color: #fff;
}
.server_info .running .btn:disabled {
  background-color: lightgray !important;
  border-color: gray !important;
}
.server_info .running #start {
  margin-left: auto;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.server_info .running #stop {
  background-color: #f0ad4e;
  border-color: #eea236;
  margin-left: 5px;
}
#qrcode_info {
  width: 200px;
  height: 200px;
  margin: 20px 0 0 30px;
}
@media screen and (max-width: 600px), screen and (-webkit-min-device-pixel-ratio: 2) {
  .content {
    margin-top: 30%;
  }
  .server_info {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
  }
  .server_info .line {
    margin-bottom: 10px;
  }
  .server_info .line label input {
    width: 215px;
  }
  .server_info .line.password label input {
    width: 165px;
  }
  #qrcode_info {
    position: relative;
    left: 50%;
    margin: 30px 0 30px -125px;
  }
}
