<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shadowsocks</title>
    <link href="{{ static_url('css/index.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/normalize.css') }}" rel="stylesheet">
</head>
<body>
<h1><a href="/">Shadowsocks Server</a> {{ index }}</h1>
<div class="server_info">
    <div class="line clearfix start-time">
        <label>
            <span>Start Time</span>
            <input id="time" value="..." type="text" readonly/>
        </label>
    </div>
    <div class="line clearfix password">
        <label>
            <span>Password</span>
            <input id="password" value="..." type="text" readonly/>
        </label>
        <button class="btn" id="new_password">New</button>
    </div>
    <div class="port line clearfix">
        <label>
            <span>Port</span>
            <input value="{{config.port}}" type="text" readonly/>
        </label>
    </div>
    <div class="method line clearfix">
        <label>
            <span>Method</span>
            <input value="{{config.method}}" type="text" readonly/>
        </label>
    </div>
    <div class="fast-open line clearfix">
        <label>
            <span>Fast Open</span>
            <input value="{{config.fast_open}}" type="text" readonly/>
        </label>
    </div>
    <div class="qrcode_uri line clearfix">
        <label>
            <span>Base64</span>
            <input value="ss://{{qrcode}}" type="text" readonly/>
        </label>
    </div>
    <div class="running">
        <span>Running: </span>
        <span id="status">...</span>
        <button class="btn" id="start" disabled>Start</button>
        <button class="btn" id="stop" disabled>Stop</button>
    </div>
</div>

<h1>qrcode for mobile app</h1>
<img id="qrcode_info"  src=""/>

<script type="text/javascript" src="//lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
<script type="application/javascript">
    var qrcode_api = '/qrcode?chl=';

    $(function(){
        var $time = $('#time');
        var $start = $('#start');
        var $stop = $('#stop');
        var $status = $('#status');
        var $pwd = $('#password');
        var $newPwdBtn = $('#new_password');
        var $qrcodeUri = $('#qrcode_uri');
        var $qrcodeInfo = $('#qrcode_info');
        var sid = {{index}};

        updateStatus({running: {{ 'true' if config.running else 'false' }}, qrcode: '{{ qrcode }}', password: '{{ config.password}}',
            startTime: {{ config.start_time.timestamp() }} });

        $start.click(function(){
            disableBtn($start);
            sendAction('start');
        });

        $stop.click(function(){
            disableBtn($stop);
            sendAction('stop');
        });

        $newPwdBtn.click(function(){
            sendAction('new_password');
        });

        function sendAction(action) {
            $status.text('...');
            $pwd.val('...');

            return $.post('/', {action: action, id: sid}).success(function(data){
                updateStatus(data);
            }).error(function(){
                $status.text('Error');
            });
        }

        function updateStatus(data) {
            showTime(data);

            $status.text(data.running);
            if (data.running) {
                enableBtn($stop);
            } else {
                enableBtn($start);
            }

            showQrCode(data.qrcode);
            showPwd(data.password);
        }

        function showTime(data) {
            var str = null;
            if (data.running) {
                var time = data.startTime * 1000;
                var date = new Date(time);
                str = date.getMonth() + '-' + date.getDate();
            } else {
                str = 'Not run yet';
            }
            $time.val(str);
        }

        function enableBtn($el) {
            $el.prop('disabled', false);
        }

        function disableBtn($el) {
            $el.prop('disabled', true);
        }

        function showQrCode(qrcode) {
            var url = qrcode_api + encodeURIComponent(qrcode);
            $qrcodeInfo.attr('src', url);
            $qrcodeUri.val('ss://' + qrcode);
        }

        function showPwd(password) {
            $pwd.val(password);
        }
    });
</script>
</body>
</html>