<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Shadowsocks</title>
    <link href="{{ static_url('css/index.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/normalize.css') }}" rel="stylesheet">
</head>
<body>
<h1><a href="/">Shadowsocks Server</a> {{ config.index }}</h1>
<div class="server_info">
    <div class="line clearfix start-time">
        <label>
            <span>Left Time</span>
            <input id="time" value="..." type="text" readonly/>
        </label>
    </div>
    <div class="line clearfix password">
        <label>
            <span>Password</span>
            <input id="password" value="..." type="text" readonly/>
        </label>
        <button class="btn" id="new_password">New</button>
    </div>
    <div class="port line clearfix">
        <label>
            <span>Port</span>
            <input value="{{config.port}}" type="text" readonly/>
        </label>
    </div>
    <div class="method line clearfix">
        <label>
            <span>Method</span>
            <input value="{{config.method}}" type="text" readonly/>
        </label>
    </div>
    <div class="fast-open line clearfix">
        <label>
            <span>Fast Open</span>
            <input value="{{config.fast_open}}" type="text" readonly/>
        </label>
    </div>
    <div class="qrcode_uri line clearfix">
        <label>
            <span><a id="ss_link" href="ss://{{qrcode}}">Base64</a></span>
            <input id="qrcode_uri" value="ss://{{qrcode}}" type="text" readonly/>
        </label>
    </div>
    <div class="running">
        <span>Running: </span>
        <span id="status">...</span>
        <button class="btn" id="start" disabled>Start</button>
        <button class="btn" id="stop" disabled>Stop</button>
    </div>
</div>

<h1>qrcode for mobile app</h1>
<img id="qrcode_info"  src=""/>

<script type="application/javascript" src="//lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
<script type="application/javascript" src="{{ static_url('js/index.js') }}"></script>
<script type="application/javascript">
    var sid = {{ config.index }};
    var data = {running: {{ 'true' if config.running else 'false' }}, qrcode: '{{ qrcode }}', password: '{{ config.password}}',
            nextTime: {{ int(config.next_time.timestamp()) }} };
</script>
</body>
</html>
